@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-pkg9dp');
	src:url('fonts/icomoon.eot?#iefix-pkg9dp') format('embedded-opentype'),
		url('fonts/icomoon.ttf?-pkg9dp') format('truetype'),
		url('fonts/icomoon.woff?-pkg9dp') format('woff'),
		url('fonts/icomoon.svg?-pkg9dp#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-home3:before {
	content: "\e602";
	font-size: 4em;
}
.icon-bullhorn:before {
	content: "\e603";
	font-size: 4em;
}
.icon-glass:before {
	content: "\e604";
	font-size: 4em;
}
.icon-mug:before {
	content: "\e601";
	font-size: 4em;
}
.icon-spoon-knife:before {
	content: "\e600";
	font-size: 4em;
}
.icon-lab:before {
	content: "\e605";
	font-size: 4em;
}
.icon-facebook2:before {
	content: "\e606";
}
.icon-instagram:before {
	content: "\e607";
}
.icon-twitter:before {
	content: "\e608";
}
.icon-youtube3:before {
	content: "\e609";
}

body{
	background: url('img/fondo_body1.jpg');
	margin: 0;
	padding: 0;
}

/***************************Header*******************************/

header{
	background: url(img/fondo.jpg);
	color: #790909;
	height: 25em;
	padding-top: 2em;
	text-align: center;
}

h1{
	margin:0;
}
h2{
	margin: 0;
}

figure{
	margin: 0;
}

	img{

	}

	.logo{
		background: peru;
		width: 16em;
		height: 16em;		
		padding: 0;
		margin: 0;
		top: 6em;
		left: 0;
		border: 3px dotted; 
		border-radius: 50%;	
		-webkit-transition:1s;	
	}

	.logo:hover{
		-webkit-transform: rotateY(360deg) scale(0.5, 0.5);
	}

/***************************Menú*******************************/
.menu{

}
	.menu ul{
		text-align: center;
	}

		.menu ul li{
			display: inline-block;
			list-style: none;
			margin: 0 2em;
		}

		.menu a{
			text-decoration: none;
			color: #790909;
		}

		.menu a:hover{
			color: olive;
		}


/***************************Galeria*******************************/
.galeria{
	
}

	.galeria_list{
		margin: 0 auto;
		padding: 0;
		text-align: center;
	}
		.galeria_post figure{
			
		}
		
		.post_header{
			background: white;
		}

			.post_header h2{
				color: indianred;
				font-size: 1em;
				font-family: montserrat, helvetica;
				padding: 0.4em 0;
				text-transform: uppercase;
			}

				.galeria_list li{
					display: inline-block;
					margin: 1em 2em;
					-webkit-box-shadow: 3px 3px 10px 3px rgba(5,5,5,5);
					box-shadow: 3px 3px 10px 3px rgba(5,5,5,5);	
					width: 20%;
				}

					.galeria_post{
						margin: 0 auto;						

					}
						.galeria_img{
							width: 100%;
							height: 15em;
							border-radius: 9%;
						}

			.post_footer{
				margin: 0;
			}

			.post_footer p{
				color: indianred;
				background: white;
				font-size: 0.8em;
				font-family: montserrat, helvetica;
				margin: 0;
				padding: 0.4em 1em;
				text-align: justify;
			}

/***************************Desyunos*******************************/
.desayuno{
	background: url(img/fondo_section_desayuno.jpg);
	height: 30em;
	padding-top: 5em;
	margin-top: 2em;
}
	
	.ir_home{		
		position: fixed;		
		color: #790909;
		margin: 0;
		padding: 0;
	}

	.desayuno{
		text-align: center;
	}

	.desayuno h1{
		text-align: center;
		color:#903C3F;
		margin-bottom: 1em;
		text-transform: uppercase;
	}

	.desayuno .desayuno_picnic{
		background: url(img/desayuno_picnic.jpg);
		background-size: cover;
		width: 40em;
		height: 20em;
		margin: auto;
		border-radius: 7%;
		-webkit-box-shadow: 3px 3px 10px 3px rgba(5,5,5,5);
		box-shadow: 3px 3px 10px 3px rgba(5,5,5,5);
	}

	.desayuno p{
		text-align: center;
		color:#903C3F;		
	}

	.boton_contenido{
		
	}


.contenido{
		margin: auto;
		height: 60em;
		display: none;
		width: 100%;
	}

@media screen and (min-width: 1000px){

	.contenido{
		margin: auto;
		height: 33em;
		display: none;
		width: 100%;
	}
}
	.contenido_desayuno{
	text-align: center;	
	}

	.contenido_desayuno li{
	display: inline-block;	
	padding: 2.5em 2em 3em 2em;
	}

	.contenido_desayuno_imagen{
		height: 10em;
		width: 10em;
		border-radius: 10%;
		-webkit-box-shadow: 3px 3px 10px 3px rgba(5,5,5,5);
		box-shadow: 32px 18px 121px 2px rgba(100,66,5,5);	
		-webkit-transition:-webkit-transform 0.3s ease-out;
		-moz-transition:-moz-transform 0.3s ease-out;
		-o-transition:-o-transform 0.3s ease-out;
		-ms-transition:-ms-transform 0.3s ease-out;
		transition:transform 0.3s ease-out;	
	}

	.contenido_desayuno_imagen:hover{
		-moz-transform: scale(2);
		-webkit-transform: scale(2);
		-o-transform: scale(2);
		-ms-transform: scale(2);
		transform: scale(2);
		}

/***************************Footer*******************************/
footer{
	display: block;
	background: #e4e7ec;
}

	footer h1{	
		text-align: center;
	}

	.footer_image_list{
		text-align: center;
		margin-top: 0;
	}
		.footer_image_item{
			display: inline-block;
		}

		.footer_image{
			border: 5px solid #363B52;
			border-radius: 50%; 
			-webkit-transition:1s;
			width: 12.6em;
			height: 12em;
			margin: 1em 8em 0 8em;			
		}

		.footer_image:hover{	
			-webkit-transform: rotateY(360deg) scale(0.5, 0.5);
		}

		.footer_image_description{
			margin: 0 auto;
			padding: 0;			
			color: olive;		
		}

			.footer_image_description a{
				text-decoration: none;
				color: olive;
			}

			.footer_image_description p{
				padding: 0;
				margin: 0;
			}

	.credits{
		background: #5D4E4E;
	}

	footer h1{
		font-family: montserrat, helvetica;
		color:olive;
		font-weight: bold;
		text-transform: uppercase;
		padding-top: 2rem;
		margin-bottom: 0; 
	}

	footer h3, footer h4{
		margin: 0;
		padding-left: 4rem; 
		color: white;
	}

		footer h3{
			font-size: 1.3em;
			padding-top: 0.5rem;
		}

		footer h4{
			font-size: .68em;
			padding-bottom: 0.5rem;
		}

	.credits .social{
		text-align: right;
		margin: -2rem 4rem 0 0;
		padding-bottom: 1rem;

	}

		.social li{
			list-style: none;
			display: inline-block;
			padding-left: 1rem;
			font-size: 1.5rem;
		}

		.social a{
			text-decoration: none;
			color: white;
		}

