@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-pkg9dp');
	src:url('fonts/icomoon.eot?#iefix-pkg9dp') format('embedded-opentype'),
		url('fonts/icomoon.ttf?-pkg9dp') format('truetype'),
		url('fonts/icomoon.woff?-pkg9dp') format('woff'),
		url('fonts/icomoon.svg?-pkg9dp#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-home3:before {
	content: "\e602";
	font-size: 4em;
}
.icon-bullhorn:before {
	content: "\e603";
	font-size: 4em;
}
.icon-glass:before {
	content: "\e604";
	font-size: 4em;
}
.icon-mug:before {
	content: "\e601";
	font-size: 4em;
}
.icon-spoon-knife:before {
	content: "\e600";
	font-size: 4em;
}
.icon-lab:before {
	content: "\e605";
	font-size: 4em;
}
.icon-facebook2:before {
	content: "\e606";
}
.icon-instagram:before {
	content: "\e607";
}
.icon-twitter:before {
	content: "\e608";
}
.icon-youtube3:before {
	content: "\e609";
}

body{
	background: url('img/fondo_body1.jpg');
	margin: 0;
	padding: 0;
}

header{
	background: url(img/fondo.jpg);
	color: #790909;
	height: 25em;
	padding-top: 2em;
	text-align: center;
}

h1{
	margin:0;
}
h2{
	margin: 0;
}

figure{
	margin: 0;
}

	img{

	}

	.logo{
		background: peru;
		width: 16em;
		height: 16em;		
		padding: 0;
		margin: 0;
		top: 6em;
		left: 0;
		border: 3px dotted; 
		border-radius: 50%;		
	}

.menu ul{
	text-align: center;
}

.menu ul li{
	display: inline-block;
	list-style: none;
	margin: 0 2em;
}

.menu a{
	text-decoration: none;
	color: #790909;
}

.menu a:hover{
	color: olive;
}

.post{
	background: url(img/desayuno1.jpg);
	background-size: cover;
	width: 100%;
	height: 30em;
}

@media screen and (min-width: 1000px){
	.post{
		background: url(img/desayuno1.png);
		width: 100%;
		height: 30em;
		}
	}