@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?-pkg9dp');
	src:url('../fonts/icomoon.eot?#iefix-pkg9dp') format('embedded-opentype'),
		url('../fonts/icomoon.ttf?-pkg9dp') format('truetype'),
		url('../fonts/icomoon.woff?-pkg9dp') format('woff'),
		url('../fonts/icomoon.svg?-pkg9dp#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-home3:before {
	content: "\e602";
	font-size: 4em;
}
.icon-bullhorn:before {
	content: "\e603";
	font-size: 4em;
}
.icon-glass:before {
	content: "\e604";
	font-size: 4em;
}
.icon-mug:before {
	content: "\e601";
	font-size: 4em;
}
.icon-spoon-knife:before {
	content: "\e600";
	font-size: 4em;
}
.icon-lab:before {
	content: "\e605";
	font-size: 4em;
}
.icon-facebook2:before {
	content: "\e606";
}
.icon-instagram:before {
	content: "\e607";
}
.icon-twitter:before {
	content: "\e608";
}
.icon-youtube3:before {
	content: "\e609";
}

body{
	/*background: url('../images/fondos/fondo_body1.jpg');*/
	margin: 0;
	padding: 0;
}

/***************************Header*******************************/

header{
	background: url(../images/fondos/fondo.jpg);
	color: #790909;
	height: 25em;
	padding-top: 2em;
	text-align: center;
}

h1{
	margin:0;
}
h2{
	margin: 0;
}

hr{
	text-align: center;
	width: 80%;
	margin-bottom: 1em;
}

figure{
	margin: 0;
}

img{

}

	.logo{
		background: peru;
		width: 16em;
		height: 16em;		
		padding: 0;
		margin: 0;
		top: 6em;
		left: 0;
		border: 3px dotted; 
		border-radius: 50%;	
		-webkit-transition:1s;	
	}

	.logo:hover{
		-webkit-transform: rotateY(360deg);
	}

/***************************Menú*******************************/
.menu{

}
	.menu ul{
		text-align: center;
	}

		.menu ul li{
			display: inline-block;
			list-style: none;
			margin: 0 2em;
		}

		.menu a{
			text-decoration: none;
			color: #790909;
		}

		.menu a:hover{
			color: olive;
		}

		.menu a:active{
			position: relative;
			top: 2px
		}

/***************************form contacto **************/

.form_contacto{
	display: none;
	text-align: center;
}
/***************************Galeria*******************************/
.galeria{
	margin-bottom: 2em;
}

.galeria h1{	
	text-align: center;
	color: #790909;
	margin-top:0.5em;
	padding-top: 0.5em;	
}
	.galeria_list{
		margin: 0 auto;
		padding: 0;
		text-align: center;
		width: 80%;
	}
		.galeria li{
			display: inline-block;
		}
			.galeria_post {
				background: #4F6D4F;
				height: 18.9em;
				width: 30.9em;
				position: relative;				
				border-radius: 5px;
				margin: 0 auto;
			}

				.galeria_post1 img{			
				height: 10em;
				width: 10em;
				position: relative;				
				border-radius: 5px;
				margin: 0 auto;
			}
				
				.galeria_img_vertical{
					width: 15.2em;
					height: 18.6em;
					position: absolute;
					top: 0.1em;
					left: 0.1em;
					border: 10px solid white;
					border-radius: 5px;
					-webkit-box-shadow: 2px 1px 10px -3px rgba(5,5,5,5);
					box-shadow: 2px 1px 10px -3px rgba(5,5,5,5);						
				}
				.galeria_post .top{
					animation-name: cfFadeInOut;					
				    animation-iteration-count: infinite;
				    animation-duration: 5s;
				    animation-direction: alternate;
				}
				.galeria_img_horizontal{
					width: 15.2em;
					height: 9.2em;
					position: absolute;
					top: 0.1em;
					left: 15.5em;
					border: 10px solid white;
					border-radius: 5px;
					-webkit-box-shadow: 2px 1px 10px -3px rgba(5,5,5,5);
					box-shadow: 2px 1px 10px -3px rgba(5,5,5,5);						
				}							
				.galeria_img_horizontal2{
					width: 15.2em;
					height: 9.2em;
					position: absolute;
					top: 9.5em;
					left: 15.5em;
					border: 10px solid white;
					border-radius: 5px;
					-webkit-box-shadow: 2px 1px 10px -3px rgba(5,5,5,5);
					box-shadow: 2px 1px 10px -3px rgba(5,5,5,5);
				}
				



/***************************Desayunos*******************************/
.desayuno{
	background: white;
	height: 30em;
	padding-top: 1em;
	margin-top: 2em;
	position: relative;
}
	
	.ir_home{		
		position: fixed;		
		color: #790909;
		margin: 0;
		padding: 0;
	}

	.desayuno{
		text-align: center;
	}

	.desayuno h1{
		text-align: center;
		color:#790909;
		text-transform: uppercase;
	}

	.desayuno_descripcion{
		width: 63%;
		height: 26.6em;		
		margin: 0 auto;
		position: relative;
	}

	.desayuno .desayuno_picnic{		
		width: 39em;
		height: 24em;		
		position: absolute;
		left: 2em;
		top: 0;
	}	

	.desayuno_contenido p{
		text-align: justify;
		color: #903C3F; 
		position: absolute;
		top: 7em;
		left: 62em;
	}
	.desayuno_contenido ul{
		position: absolute;
		top: 10em;
		left: 61em;
		text-align: justify;
	}
	

/**agrandar cuando pase el mouse**/
	.contenido_desayuno_imagen{					
		-webkit-transition:-webkit-transform 0.3s ease-out;
		-moz-transition:-moz-transform 0.3s ease-out;
		-o-transition:-o-transform 0.3s ease-out;
		-ms-transition:-ms-transform 0.3s ease-out;
		transition:transform 0.3s ease-out;	
	}

	.contenido_desayuno_imagen:hover{
		-moz-transform: scale(2);
		-webkit-transform: scale(2);
		-o-transform: scale(2);
		-ms-transform: scale(2);
		transform: scale(2);
		}

/***************************Meriendas*******************************/

.merienda{
	background: url(../images/fondos/fondo_section_merienda.jpg);
	height: 30em;
	text-align: center;
	color:#790909;
	padding-top: 3em;
	position: relative;

}
	.merienda h1{
		text-transform: uppercase;
	}
	.merienda .merienda_descripcion{
		width: 40em;
		height: 20em;
		margin: auto;
		border-radius: 7%;		
	}

	.merienda .merienda_picnic{
		width: 39em;
		height: 24em;		
		position: absolute;
		right: 20em;
	}

	.merienda_contenido p{
		text-align: justify;
		color: #903C3F; 
		position: absolute;
		top: 7em;
		right: 69em;
	}
	.merienda_contenido ul{
		position: absolute;
		top: 10em;
		right: 64em;
		text-align: justify;
	}


/***************************Footer*******************************/
footer{
	display: block;
	background: #e4e7ec;
}

	footer h1{	
		text-align: center;
	}

	.footer_image_list{
		text-align: center;
		margin-top: 0;
	}
		.footer_image_item{
			display: inline-block;
		}

		.footer_image{
			border: 5px solid #363B52;
			border-radius: 50%; 
			-webkit-transition:1s;
			width: 12.6em;
			height: 12em;
			margin: 1em 8em 0 8em;			
		}

		.footer_image:hover{	
			-webkit-transform: rotateY(360deg) scale(0.5, 0.5);
		}

		.footer_image_description{
			margin: 0 auto;
			padding: 0;			
			color: olive;		
		}

			.footer_image_description a{
				text-decoration: none;
				color: olive;
			}

			.footer_image_description p{
				padding: 0;
				margin: 0;
			}

	.credits{
		background: #5D4E4E;
	}

	footer h1{
		font-family: montserrat, helvetica;
		color:olive;
		font-weight: bold;
		text-transform: uppercase;
		padding-top: 2rem;
		margin-bottom: 0; 
	}

	footer h3, footer h4{
		margin: 0;
		padding-left: 4rem; 
		color: white;
	}

		footer h3{
			font-size: 1.3em;
			padding-top: 0.5rem;
		}

		footer h4{
			font-size: .68em;
			padding-bottom: 0.5rem;
		}

	.credits .social{
		text-align: right;
		margin: -2rem 4rem 0 0;
		padding-bottom: 1rem;

	}

		.social li{
			list-style: none;
			display: inline-block;
			padding-left: 1rem;
			font-size: 1.5rem;
		}

		.social a{
			text-decoration: none;
			color: white;
		}

/**Cambiar imagénes paulatinamente**/

	@keyframes cfFadeInOut {
	0% {
	  opacity:1;
	}
	25% {
		opacity:1;
	}
	75% {
		opacity:0;
	}
	100% {
	  opacity:0;
	}