<!DOCTYPE html>
<html>
	<head>
		<meta charset = "utf-8">
		<link rel="stylesheet" type="text/css" href="../static/css/estilos.css">	
		<link rel="stylesheet" type="text/css" href="highslide.css" />	
		<link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>	
		<title>La Tienda</title>
	</head>
<body>
	<header>		
		<figure>
			<img src="../static/images/logos/logo.png" class="logo">
			<figcaption>
				<h1>LA TIENDA</h1>
				<h2>Desayunos y meriendas a domicilio</h2>	
			</figcaption>
		</figure>				
	</header>

	<!-----------------------Menú---------------------------->

	<nav class="menu">
		<ul>
			<li><a href="../index.html" class="icon-home3"><p>Home</p></a></li>		
			<li><a href="#desayuno" class="icon-mug"><p> Desayunos Sorpresa</p></a></li>
			<li><a href="#merienda" class="icon-spoon-knife"><p> Meriendas</p></a></li>			
			<li><a href="#" class="icon-bullhorn" id="ver_contenido"><p> Contáctanos</p></a></li>
		</ul>	
	</nav>

	<!------------------------Formulario---------------------------->

	<form action="../static/formulario.php" class="form_contacto" id="contenido" method="post">
		<h1>Contacto</h1>	
		<hr>
		<p>Puedes comunicarte con nosotros a través de las redes sociales</p>
		<ul class="form_social">
			<li><a href="https://www.facebook.com/pages/La-Tienda/897408093646153?ref=hl" class="icon-facebook2" target="_blank"></a></li>
			<li><a href="https://instagram.com/latiendaquindio/" class="icon-instagram" target="_blank"></a></li>
			<li><a href="https://twitter.com/LaTiendaQuindio" class="icon-twitter" target="_blank"></a></li>	
		</ul>
		<hr>
		<p>Solicita tu domicilio</p>
		<input type="text" name="nombre" placeholder="Nombre" class="form_nombre"required><br>
		<input type="text" name="apellido" placeholder="Apellido" class="form_apellido" required><br>		
		<input type="email" name="email" placeholder="Email" class="form_email" required><br>
		<input type="tel" name="telefono" placeholder="Teléfono" class="form_tel" required><br>
		<textarea name="mensaje" placeholder="Mensaje" class="form_mensaje" required></textarea><br>
		
		<input type="submit" value="Contáctame "class="form_submit">
	</form>

<!-----------------------Section desayunos---------------------------->

	<section class="desayuno">		
		<a name="desayuno"><h1>Desayuno Sorpresa</h1></a>
		<hr>
		<div class= "desayuno_descripcion highslide-gallery">
			<a href="images/thumbstrip1.jpg" class="desayuno_picnic highslide" id="thumb1" onclick="return hs.expand(this, miniGalleryOptions1)" title="Desayuno sorpresa">
				<img src='images/thumbstrip1.thumb.png' alt=''/>
			</a>

			<div class="hidden-container">
		        <a class='highslide' href='images/thumbstrip2.jpg' onclick="return hs.expand(this)" title="Tortilla de huevo">
					<img src='images/thumbstrip2.thumb.png' alt=''/>
				</a>

				<a class='highslide' href='images/thumbstrip3.jpg' title="Pan croissant y mermelada" onclick="return hs.expand(this, miniGalleryOptions1)">
					<img src='images/thumbstrip3.thumb.png' alt=''/>
				</a>
				
				<a class='highslide' href='images/thumbstrip4.jpg' title="Jugo de naranja 100% natural"	onclick="return hs.expand(this, miniGalleryOptions1)">
					<img src='images/thumbstrip4.thumb.png' alt=''/>
				</a>

				<a class='highslide' href='images/thumbstrip5.jpg' title="Muffin"	onclick="return hs.expand(this, miniGalleryOptions1)">
					<img src='images/thumbstrip5.thumb.png' alt=''/>
				</a>

				<a class='highslide' href='images/thumbstrip6.jpg' title="Café o chocolate"	onclick="return hs.expand(this, miniGalleryOptions1)">
					<img src='images/thumbstrip6.thumb.png' alt=''/></a>

				<a class='highslide' href='images/thumbstrip7.jpg' title="Cereal con yogur"	onclick="return hs.expand(this, miniGalleryOptions1)">
				<img src='images/thumbstrip7.thumb.png' alt=''/></a>

				<a class='highslide' href='images/thumbstrip8.jpg' title="Picada de frutas"	onclick="return hs.expand(this, miniGalleryOptions1)">
				<img src='images/thumbstrip8.thumb.png' alt=''/></a>
			</div>				
		</div> 
		<div class= "desayuno_contenido">
			<p>
			El desayuno contiene:
			<ul>
				<li>Tortilla de huevo o Sánduche</li>
				<li>Café o chocolate</li>
				<li>Jugo de naranja 100% natural</li>
				<li>Cereal con yogurth</li>
			</ul>
			</p>
		</div>				
	</section>

<!-----------------------Section meriendas---------------------------->
	<section class="merienda">
		<a name="merienda"><h1>Meriendas</h1></a>
		<hr>
		<div class="merienda_descripcion highslide-gallery">
			<a href="images/thumbstrip9.jpg" class="merienda_picnic highslide" id="thumb1" onclick="return hs.expand(this, miniGalleryOptions1)" title="Merienda Sorpresa">
				<img src='images/thumbstrip9.thumb.png' alt=''/>
			</a>

			<div class="hidden-container">
		        <a class='highslide' href='images/thumbstrip10.jpg' onclick="return hs.expand(this)" title="Merienda Sorpresa">
					<img src='images/thumbstrip10.thumb.png' alt=''/>
				</a>

				<a class='highslide' href='images/thumbstrip11.jpg' title="Merienda Sorpresa" onclick="return hs.expand(this, miniGalleryOptions1)">
					<img src='images/thumbstrip11.thumb.png' alt=''/>
				</a>
				
				<a class='highslide' href='images/thumbstrip12.jpg' title="Merienda Sorpresa"	onclick="return hs.expand(this, miniGalleryOptions1)">
					<img src='images/thumbstrip12.thumb.png' alt=''/>
				</a>

				<a class='highslide' href='images/thumbstrip13.jpg' title="Merienda Sorpresa"	onclick="return hs.expand(this, miniGalleryOptions1)">
					<img src='images/thumbstrip13.thumb.png' alt=''/>
				</a>

				<a class='highslide' href='images/thumbstrip14.jpg' title="Merienda Sorpresa"	onclick="return hs.expand(this, miniGalleryOptions1)">
					<img src='images/thumbstrip14.thumb.png' alt=''/></a>
			</div>	
		</div>

		<div class= "merienda_contenido">
			<p>
			La merienda contiene:
			<ul>
				<li>Tortilla de huevo o Sánduche</li>
				<li>Café o chocolate</li>
				<li>Jugo de naranja 100% natural</li>
				<li>Cereal con yogurth</li>
			</ul>
			</p>
		</div>				
	</section>

<!-----------------------Footer---------------------------->
	<footer>
		<h1>Equipo</h1>	
		<ul class="footer_image_list">
			<li class="footer_image_item">
				<figure class="content_figure_image">
					<img src="../static/images/logos/avatarLaura.jpg" class="footer_image">
					<figcaption class="footer_image_description">
						<a href="">LAURA RIVERA</a>
						<p>Co-Founder & CEO</p>
					</figcaption>
				</figure>
			</li>
			<li class="footer_image_item">
				<figure class="content_figure_image">
					<img src="../static/images/logos/avatarDiego.jpeg" class="footer_image">
					<figcaption class="footer_image_description">
						<a href="">DIEGO CELIS</a>
						<p>Co-Founder & CTO</p>
					</figcaption>
				</figure>
			</li>
		</ul>
		<div class="credits">
			<h3>La Tienda</h3>
			<h4>Hecho en el Quindío ♥</h4>
			<ul class="social">
				<li><a href="https://www.facebook.com/pages/La-Tienda/897408093646153?ref=hl" class="icon-facebook2" target="_blank"></a></li>
				<li><a href="https://instagram.com/latiendaquindio/" class="icon-instagram" target="_blank"></a></li>
				<li><a href="https://twitter.com/LaTiendaQuindio" class="icon-twitter" target="_blank"></a></li>
				<li><a href="" class="icon-youtube3" target="_blank"></a></li>
			</ul>
		</div>	
	</footer>

<!-----------------------Scripts---------------------------->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../static/js/function.js" type="text/javascript"></script>
	<script type="text/javascript" src="../highslide/highslide-with-gallery.js"></script>
	<script type="text/javascript">
		hs.graphicsDir = '../highslide/graphics/';
		hs.align = 'center';
		hs.transitions = ['expand', 'crossfade'];
		hs.fadeInOut = true;
		hs.outlineType = 'rounded-white';
		hs.headingEval = 'this.a.title';
		hs.numberPosition = 'heading';
		hs.useBox = true;
		hs.width = 600;
		hs.height = 400;
		hs.showCredits = false;
		//hs.dimmingOpacity = 0.8;

		// Add the slideshow providing the controlbar and the thumbstrip
		hs.addSlideshow({
			//slideshowGroup: 'group1',
			interval: 5000,
			repeat: false,
			useControls: true,
			fixedControls: 'fit',
			overlayOptions: {
				position: 'top right',
				offsetX: 200,
				offsetY: -65
			},
			thumbstrip: {
				position: 'rightpanel',
				mode: 'float',
				relativeTo: 'expander',
				width: '210px'
			}
		});

		// Make all images animate to the one visible thumbnail
		var miniGalleryOptions1 = {
			thumbnailId: 'thumb1'
		}
	</script>
</body>
</html>