<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Desayunos</title>
		<link rel="stylesheet" type="text/css" href="highslide.css" />
	</head>

<body>

<div class="highslide-gallery">

	<a class='highslide' id="thumb1" href='images/thumbstrip11.jpg' onclick="return hs.expand(this, miniGalleryOptions1)" title="Two cabins">
		<img src='images/thumbstrip11.thumb.png' alt=''/>
	</a>

	<div class="hidden-container">
        <a class='highslide' href='images/thumbstrip09.jpg' onclick="return hs.expand(this)" title="Ptarmigan">
			<img src='images/thumbstrip09.thumb.png' alt=''/>
		</a>

		<a class='highslide' href='images/thumbstrip12.jpg' title="Patterns in the snow" onclick="return hs.expand(this, miniGalleryOptions1)">
			<img src='images/thumbstrip12.thumb.png' alt=''/>
		</a>
		
		<a class='highslide' href='images/thumbstrip22.jpg' title="Spring in the mountains"	onclick="return hs.expand(this, miniGalleryOptions1)">
			<img src='images/thumbstrip22.thumb.png' alt=''/>
		</a>

		<a class='highslide' href='images/thumbstrip23.jpg' title="Spring in the mountains"	onclick="return hs.expand(this, miniGalleryOptions1)">
			<img src='images/thumbstrip23.thumb.png' alt=''/>
		</a>

		<a class='highslide' href='images/thumbstrip24.jpg' title="Fjord landscape"	onclick="return hs.expand(this, miniGalleryOptions1)">
			<img src='images/thumbstrip24.thumb.png' alt=''/></a>

	</div>
</div>

	<script type="text/javascript" src="../highslide/highslide-with-gallery.js"></script>
	<script type="text/javascript">
		hs.graphicsDir = '../highslide/graphics/';
		hs.align = 'center';
		hs.transitions = ['expand', 'crossfade'];
		hs.fadeInOut = true;
		hs.outlineType = 'rounded-white';
		hs.headingEval = 'this.a.title';
		hs.numberPosition = 'heading';
		hs.useBox = true;
		hs.width = 600;
		hs.height = 400;
		hs.showCredits = false;
		//hs.dimmingOpacity = 0.8;

		// Add the slideshow providing the controlbar and the thumbstrip
		hs.addSlideshow({
			//slideshowGroup: 'group1',
			interval: 5000,
			repeat: false,
			useControls: true,
			fixedControls: 'fit',
			overlayOptions: {
				position: 'top right',
				offsetX: 200,
				offsetY: -65
			},
			thumbstrip: {
				position: 'rightpanel',
				mode: 'float',
				relativeTo: 'expander',
				width: '210px'
			}
		});

		// Make all images animate to the one visible thumbnail
		var miniGalleryOptions1 = {
			thumbnailId: 'thumb1'
		}
	</script>
</body>
</html>